body {
    width: 1219px;
    padding-left: 55px;
    padding-right: 55px; 
    margin: 0 auto;   
    padding-top: 85px;
}

.header {
    background-color: #007765;    
    position: fixed;
    width: 1219px;
    top:0;        
    margin: 0;
    display: flex;
       
}

.logo {    
     
    align-items: center; 
    padding-top: 20px;    
    padding-bottom: 19px;
    padding-left: 55px; 
    display: inline-block;
}

.problem {
    
    margin-left: auto;
    padding-right: 8px;
    align-items: center; 
    padding-top: 28px;
    padding-bottom: 27px; 
    font-family: Roboto, sans-serif;
    color:white;
    font-size: 24px;
    display: inline-block;
     
}

.line {
    padding-right: 8px;
    align-items: center; 
    padding-top: 28px;
    padding-bottom: 27px;    
    font-family: Roboto, sans-serif;
    color:white;
    font-size: 24px;
    display: inline-block;
     
}
.coin {
    padding-right: 8px;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 26px;    
    font-family: Roboto, sans-serif;
    color:white;
    font-size: 24px;
    display: inline-block;
}
.line_one {
        padding-right: 8px;
        align-items: center; 
        padding-top: 29px;
        padding-bottom: 26px;       
        font-family: Roboto, sans-serif;
        color:white;
        font-size: 24px;
        display: inline-block;

  
}
.team {     
    padding-right: 55px; 
    align-items: center; 
    padding-top: 29px;
    padding-bottom: 26px;   
    font-family: Roboto, sans-serif;
    color:white;
    font-size: 24px;
    display: inline-block;
}


.button {  
    
    background: url('image.png');
    background-size: cover;
    height: 403px;      
    color: white;    
    font-family: Roboto, sans-serif;
    font-size: 72px;  
    display: flex;
    align-items: center;
    justify-content: center;
   /* margin-top: 85px;*/
    
   
}

a {
    color: white;
    text-decoration: none;
}

.the_problem {
    background-color: #EEEEEE;    
    display: inline-block; 
    width: 100%;    
    
    
    
}

 h1 {
    color: #007765;
    font-size: 64px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin-top: 48px;
    
}

.the_problem p {
    
    color: #000000;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    padding-right: 5%; 
    padding-left: 10%;
    
}

.hero {
    padding: 128px 0;
    background-image: url('https://i.ibb.co/PM6cMBn/image.png');
    background-size: cover;
  }
  
  .container {
    width: 1219px;
    margin: 0 auto;
    padding: 0 55px;
  }
  
  .hero__message {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #fff;
  }

.the_coin {
    display: inline-block; 
    width: 100%; 
}

.the_coin img {
    float: left;
    margin-left: 55px;
    margin-right: 48px;
   
}

.smth {
    color: #000000;
    font-size: 32px;
    font-family: Roboto, sans-serif;
}

.clear {
    clear: both;
}

.the_coin_one p {
    color: #000000;
    font-size: 32px;
    font-family: Roboto, sans-serif;     
    padding-left: 10%;
}

.member > figure > figcaption {
    color: #007765;
    font-size: 24;
    font-weight: bold;
    font-family: Roboto, sans-serif; 
    text-align: center; 
}

.member > figure > figcaption > span {
    color: #000000;
    font-size: 18;
    font-style: italic;
    font-weight: normal;
    font-family: Roboto, sans-serif; 
    text-align: center; 
}

.the_team {
   
    background-color: #EEEEEE;
    margin: 0 auto;   

}

.members {
    display: flex;    
    flex-wrap: wrap;  
    justify-content: center; 
    
    
   
}

.member {
    
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
 }
    


.footer {
    background-color: black;
    color: #EEEEEE;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    display: inline-block;
    width: 100%;
    text-align: center;
}



